<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/Css/style.css">
    <title>Waseet Registration Form</title>
</head>
<body>
    <div class="container">
        <div class="title" id = "login">Login</div>
        <form action="#login">
            <div class="user-details" style="display: block;left: 50%; transform: translate(25% , 0); ">
                <div class="input-box" style="display: block;">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" placeholder="Enter your password" required>
                </div>
                <div class="button" style="width: 50%;">
                    <input type="submit" value="Register">
                </div>
            </div>
        </form>
    </div>

</body>
</html>