<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/Css/homepage.css" type="text/css">
    <title>homepage </title>
</head>

<body>
<div class="container">
    <div class="nav">
    <div class="logo">
        <h1>Accept</h1>
        <button class="b1">Sign in</button>
        <button class="b2">Sign up</button>
    </div>
   </div>
   <div  class="pp">
    <h1>Start your journey with us to reach your dream job</h1>
    <h5 id="text"> </h5>
    <button>Start</button>
   </div>
</div>
<div class="final">
  <footer>
    <p> © 2020 Copyright by <span>Accept</span></p>
  </footer>
</div>
<script src="../javascript/homepage.js"></script>
</body>

</html>