<!DOCTYPE html>
<html lang="en" dir="1tr">
 <head>
   <meta charset="utf-8">
   <title>Login Form</title>
   <link rel="stylesheet" href="../../public/Css/login.css">  
    <link href="../../public/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet">
   </head>
 <body>
   <div class="center">
   <h1>Sign in</h1>
   <form method="post">
   <div class="txt_field">
   <input type="text" required>
   <span></span>
   <label>Email</label>
   </div>
   <div class="txt_field">
   <input type="password" required>
   <span></span>
   
   <label>Password</label>
   </div>
   <div class="pass">Forgot Password?</div>
   <input type="submit" value="Sign in">
   <div class="signup_link">
   Not a member? <a href="#">Sign up</a>
   </div>
   <div class="links">
    <div class="col">
      <a href="#" class="fb btn">
        <i class="fab fa-facebook"></i>  Login with Facebook
      </a>
      <a href="#" class="google btn">
        <i class="fab fa-google"></i> Login with Google+
      </a>
    </div>
  </div>
  
  
   </form>
   </div>
   
 
 



 </body>
</html>